################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.cache
*.cache
/Baxter/Baxter.Domain/obj/Debug
/Baxter/Baxter.Text/obj/Debug
/Baxter/packages/LumenWorksX.Framework.IO.1.0.1/src/obj
